<footer>
    <div class="container">
        <div class="row">
            <div class=" col-md-2 col-lg-3 col-xs-12 responsive-phone">
                <a href="#" class="brand">
                    <img src="assets/img/basic/logo.png" alt="Knowledge">
                    <span class="circle"></span>
                </a>
            </div>
            <div class="col-xs-6  col-sm-4 col-md-2">
                <h4>Quick Links</h4>
                <ul class="footer-links">
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Community</a></li>
                    <li><a href="login.html">Login</a></li>
                </ul>
            </div>
            <div class="col-xs-6  col-sm-4 col-md-2">
                <h4>Knowledgebase</h4>
                <ul class="footer-links">
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Community</a></li>
                    <li><a href="login.html">Login</a></li>
                </ul>
            </div>
            <div class="col-xs-6  col-sm-4 col-md-2">
                <h4>About Us</h4>
                <ul class="footer-links">
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Community</a></li>
                    <li><a href="login.html">Login</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-12 col-xs-12 col-lg-3 responsive-phone">
                <h4>Connect via Social</h4>
                <ul class="social">
                    <li class="facebook"><a href="#"><i class="icon icon-facebook"></i></a></li>
                    <li class="twitter"><a href="#"><i class="icon icon-twitter"></i></a></li>
                    <li class="gplus"><a href="#"><i class="icon icon-google-plus"></i></a></li>
                </ul>
                <div class="copyrights">
                    <p>© 2016 knowledge Copyrights</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- partial:_foot.html -->
<!-- partial -->