<footer class="blue4 text-white">
    <div class="container">
        <div class="p-t-b-40">
            <div class="row">
                <div class="col-lg-4 col-md-3 col-sm-6">
                    <a href="#">
                        <img src="assets/img/logo-white.png" alt="paper">
                    </a>
                    <ul class="no-preIcon customeIconList pt-30">
                        <li>
                            <i class="icon icon-phone"></i>
                            <a href="tel:(+800)5146-9000">(+800)5146-9000</a>
                        </li>
                        <li>
                            <i class="icon icon-envelope"></i>
                            <a href="mailto:hieupv@outlook.com">hieupv@outlook.com</a>
                        </li>
                        <li>
                            <i class="icon icon-map-marker"></i>
                            85 Bechole Road - Victory - New York
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <h4>Quick Links</h4>
                    <ul class="footer-links arrow-list">
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Community</a></li>
                        <li><a href="login.html">Login</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <h4>paperbase</h4>
                    <ul class="footer-links arrow-list">
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Community</a></li>
                        <li><a href="login.html">Login</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <h4>About Us</h4>
                    <ul class="footer-links arrow-list">
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Community</a></li>
                        <li><a href="login.html">Login</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <h4>About Us</h4>
                    <ul class="footer-links arrow-list">
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Community</a></li>
                        <li><a href="login.html">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyrights blue3">
        <div class="container">
            © 2016 paper Copyrights
        </div>
    </div>
</footer>