<!-- Login modal -->
<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog width-400" role="document">
        <div class="modal-content no-r ">
            <a href="#" data-dismiss="modal" aria-label="Close" class="paper-nav-toggle active"><i></i></a>
            <div class="modal-body no-p">
                <div class="text-center p-40 p-b-0">
                    <img src="assets/img/dummy/u4.png" alt=""/>
                    <h2>Welcome Back</h2>
                    <p class="p-t-b-20">Hey Soldier welcome back signin now there is lot of new stuff
                        waiting for you</p>
                </div>
                <div class="light p-40 b-t-b">
                    <form action="dashboard2.html">
                        <div class="form-group has-icon">
                            <i class="icon-envelope-o"></i>
                            <input type="text" class="form-control input-lg"
                                   placeholder="Email Address"/>
                        </div>
                        <div class="form-group has-icon">
                            <i class="icon-user-secret"></i>
                            <input type="text" class="form-control input-lg"
                                   placeholder="Password"/>
                        </div>
                        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Log In">
                        <small class="forget-pass">Have you forgot your username or password ?</small>
                    </form>
                </div>
                <div class="p-40">
                    <a href="#" class="btn btn-lg btn-block btn-social facebook">
                        <i class="icon-facebook"></i> Login with Facebook
                    </a>
                    <a href="#" class="btn btn-lg btn-block btn-social twitter">
                        <i class="icon-twitter"></i> Login with Twitter
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SignUp modal -->
<div class="modal fade" id="modalSignUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content no-r ">
            <a href="#" data-dismiss="modal" aria-label="Close" class="paper-nav-toggle active"><i></i></a>
            <div class="modal-body no-p">
                <div class="row">
                    <div class="col-md-5 grid">
                        <div class="p-40">
                            <img class="img-80" src="assets/img/dummy/u4.png" alt=""/>
                            <h4>Sign Up Using Social Account</h4>
                            <p class="p-t-b-20">Hey Soldier welcome back signin now there is lot of new stuff
                                waiting for you</p>
                            <a href="#" class="btn btn-lg btn-block btn-social facebook">
                                <i class="icon-facebook"></i> Login with Facebook
                            </a>
                            <a href="#" class="btn btn-lg btn-block btn-social twitter">
                                <i class="icon-twitter"></i> Login with Twitter
                            </a>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="light p-t-b-40">
                            <div class="p-40">
                                <h4>Create New User Account</h4>
                                <form action="dashboard2.html ">
                                    <div class="form-group has-icon">
                                        <i class="icon-user-circle"></i>
                                        <input type="text" class="form-control input-lg"
                                               placeholder="Your Name"/>
                                    </div>
                                    <div class="form-group has-icon">
                                        <i class="icon-envelope-o"></i>
                                        <input type="text" class="form-control input-lg"
                                               placeholder="Email Address"/>
                                    </div>
                                    <div class="form-group has-icon">
                                        <i class="icon-user-secret"></i>
                                        <input type="text" class="form-control input-lg"
                                               placeholder="Password"/>
                                    </div>
                                    <div class="form-group has-icon">
                                        <i class="icon-repeat"></i>
                                        <input type="text" class="form-control input-lg"
                                               placeholder="Confirm Password"/>
                                    </div>
                                    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Sign Up Now">
                                    <p class="forget-pass">A verification email wil be sent to you</p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--End Page page_wrrapper -->
<!-- partial:_scripts.html -->
<!-- partial -->
</body>
</html>