<!-- Header -->
<nav class="mainnav navbar navbar-default ">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
                <img src="assets/img/basic/logo-white.png" alt="">
            </a>
            <a href="#" data-toggle="offcanvas" class="dl-trigger paper-nav-toggle"><i></i>
            </a>
        </div>
        <div class="paper_menu">
            <!-- partial:_menu.html -->
            <!-- partial -->
        </div>
    </div>
</nav>

