<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="assets/img/basic/favicon.ico" type="image/x-icon">
    <title>Paper</title>
    <!-- CSS -->
    <link rel="stylesheet" href="assets/css/app.css">
    <style>
        .loader {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, .98);
            z-index: 9998;
            text-align: center;
        }
    </style>
</head>
<body>
<!-- Pre loader -->
<div id="loader" class="loader">
    <div class="plane-container">
        <img class="plane" src="assets/img/basic/preloader-logo.png" alt="">
    </div>
</div>

<div id="app" class="paper-loading">
    <div class="btn-fixed-top-left">
        <a href="documentations.html"
           class="btn-fab  btn-primary shadow1">
            <i class="icon icon-clipboard-list"></i>
        </a>
    </div>