<div class="header-top hide-for-small-down">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-7">
                <ul class="top-nav">
                    <li><a href="#">Buyer Protection</a></li>
                    <li class="parent"><a href="#">Help</a>
                        <ul>
                            <li><a href="#">Help Center</a></li>
                            <li><a href="#">Open a Ticket</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Download Mobile App</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-5">
                <ul class="top-nav text-right">
                    <li><a href="#"><i class="icon icon-exchange"></i>Compare list</a></li>
                    <li><a href="#"><i class="icon icon-heart"></i> Wishlist</a></li>
                    <li><a href="#"><i class="icon icon-user"></i>Login</a></li>
                    <li><a href="#"><i class="icon icon-lock"></i>Register</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--top header-->